body {
  font-family:Montserrat;
}
img {display:inline-block;}

table {margin: auto;}

td {
  display: inline-block;
  width: 200px;
}

.form-control {margin:2px;}

.health {
  min-width: 20px;
  max-width: 300px;
}

#go {width: 75px;}

#playagain {
  margin-bottom:30px;
  display:none;
}

#playagain .btn {
  display:inline-block;
}

#pokeform td {
  margin-bottom:2px
  display: block;
}

#warning {
  color: red;
  padding-top:25px;
}
