img {
  display:inline-block;
}

table {
  margin: auto;
}

td {
  display: inline-block;
  width: 200px;
}

.btn {
  width:100px;
  margin-bottom: 2px;
  color: #ffffff;
}

.btn:hover {
  color: #ccc
}

.btn-bug {background-color: #A8B820;}
.btn-dark {background-color: #705848;}
.btn-dragon {background-color: #7038F8;}
.btn-fairy {background-color: #EE99AC}
.btn-fighting {background-color:#C03028;}
.btn-flying {background-color:#A890F0;}
.btn-ghost {background-color: #735797;}
.btn-ground {background-color: #E0C068;}
.btn-ice {background-color: #98D8D8;}
.btn-normal {background-color: #A8A878;}
.btn-poison {background-color:#A040A0;}
.btn-psychic {background-color: #F85888;}
.btn-rock {background-color: #B8A038;}
.btn-steel {background-color: #B8B8D0;}
.btn-unknown {background-color: #68A090}

.health {
  min-width: 20px;
  max-width: 300px;
  display: none;
}

#go {
  width: 75px;
}

#moves1, #moves2 {
  display: none;
}
#warning {
  color: red;
}
